@model IEnumerable<Analiza>

@{
    ViewData["Title"] = "Lisa Analize";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.NumeAnaliza
                                    <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Clinica: </b>@item.Clinica.NumeClinica</p>
                            <p class="card-text"><b>Categorie: </b>@item.CategorieAnaliza</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-fill"></i> Arata Detalii </a>
                                <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Adauga in cos (Pret: @item.PretAnaliza lei)</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>