@using AplicatieClinicaAnalize.Data.ViewModels;
@model ShoppingCartVM

@{
    ViewData["Title"] = "Cos de cumparaturi";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Cosul dvs. de cumparaturi</h2>
        </div>

        <table class="table">
            <thead> 
                <tr>
                    <th>Cantitatea</th>
                    <th>Nume Analiza</th>
                    <th>Pret</th>
                    <th>Subtotal</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody> 
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Analiza.NumeAnaliza</td>
                        <td class="align-middle">@item.Analiza.PretAnaliza.ToString("c")</td>
                        <td class="align-middle">@((item.Amount*item.Analiza.PretAnaliza).ToString("c"))</td>
                        <td class="align-middle">
                            <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromShoppingCart" asp-route-id="@item.Analiza.Id"><i class="bi bi-cart-dash"></i></a> |
                            <a class="text-success" asp-controller="Orders" asp-action="AddItemFromShoppingCart" asp-route-id="@item.Analiza.Id"><i class="bi bi-cart-plus"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-center">
            <div class="btn-group">
                <a class="btn btn-outline-success" asp-controller="Analize" asp-action="Index">
                    Adauga mai multe analize
                </a>
            </div>
        </div>

    </div>
</div>